.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Poppins';
}

.grid{
  margin-top: 100px;
  margin-bottom: 50px;
}

.App-link {
  color: #61dafb;
}

label{
  font-size: 15px;
}
textarea {
  width:250px;
  height: 30px;
  border:none;
  outline:none;
  padding:10px;
  background:#f4edf1;
  color:#373737;
  margin:0;
  overflow:hidden;
  resize:vertical;
  font-size:15px;
  font-weight:500;
}

fieldset{
  margin-top: 100px;
  padding: 10px;
}
legend{
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}


.question{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.question label, input, textarea{
  width: 32%;
}

input{
  accent-color: #dde4eb;
}

input::placeholder{
  padding: 15px;
}

/* button{
  border-radius: 6px;
  padding:7px;
  margin-top: 50px;
  margin-left: 450px;
  font-size: 1rem;
} */

.checkList{
  margin-top: -80px;
  width: 80%;
}

.clear{
  font-size: 15px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: #3a3b40;
  width: 50%;
  padding: 50px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search{
  display:flex;
  align-items: center;
  margin-right: 70px;
  margin-left: 70px;
  font-size: 1.3rem;
  margin-top: 5px;
}

.search--input{
  width: 100%;
  height: 80%;
  margin-right: 10px;
  border-radius: 5px;
}

.nav--link{
  color: #fff;
  font-size: 1.3rem;
  margin-right: 20px;
  margin-top:10px;
}
.nav--link:link{
  text-decoration: none;
}

.nav--link_drop{
  color: black;
}

.nav--link_drop:link{
  text-decoration: none;
}

.page-head{
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.icon{
  color: white;
}

.navbar{
  background-color: #060b26;
  height: 80px;
  width: 100%;
  position: sticky;
}

.symbol{
  margin: 30%;
  font-size: 1.3em;
  color: white;
}

.filter{
  margin-right: 0px;
  margin-top: 10px;
  width: 30%;
  padding: 2px;
  font-size:20px;
}
.add{
  padding:3px;
  font-size: 13px;
}
.hide{
  display:none;
}
#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li {
  border: 1px solid #dde4eb;
  margin-top: -1px;
  background-color: #414141;
  width: 50%;
  padding: 3px;
  text-decoration: none; 
  font-size: 16px; 
  color: white; 
  display: block; 
}

#myUL li:hover:not(.header) {
  background-color: #5C5C5C; 
}

#searchUL{
  list-style-type: none;
  padding: 0;
  margin-right: 0;
}

#searchUL li {
  border: 1px solid #dde4eb;
  margin-top: -1px;
  background-color: #414141;
  width: 30%;
  padding: 3px;
  text-decoration: none; 
  font-size: 16px; 
  color: white; 
  display: block; 
}
#searchUL li:hover:not(.header) {
  background-color: #5C5C5C; 
}

.tableBtns{

}